.cell {
    width: 30px;
    height: 30px;
    outline: 2px solid black;
}

.layout{
    width: 400px;
    border: 1px solid tomato;
    display: grid;
    grid-template-areas: 
    ". s1 . ."
    "s2 s3 s4 s5"
    ". s0 . ."
    ;
}

.row{
    display: flex;
}

.side{
    padding: 5px;
}



.cell-0{
    background-color: #ffff ;
}
.cell-1{
    background-color: #ffbe0b;
}
.cell-2{
    background-color: #003566;
}
.cell-3{
    background-color: #f60404e7;
}
.cell-4{
    background-color: #a7c957;
}
.cell-5{
    background-color: #e68105;
}

/* const colors = [
  "#e63946",
  "#ffbe0b",
  "#a7c957",
  "#003566",
  "#ff8fab",
  "#212529",
]; */
