.cell {
    width: 40px;
    height: 40px;
    outline: 2px solid black;
    display: grid;
    place-items: center;
    color: #0d1321;
    font-size: 20px;
}

.layout{
    border: 1px solid tomato;
    margin-block-end: 20px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-auto-rows: auto;
    grid-template-areas: 
    ". s1 . ."
    "s2 s3 s4 s5"
    ". s0 . ."
    ;
    gap: 10px;
}

.row{
    display: flex;
}
/* 
.side-0{
    transform: rotate(90deg);
}

.side-1{
    transform: rotate(270deg);
}

.side-2{
    transform: scaleX(-1)
} */




.cell-0{
    background-color: #ffff ;
}
.cell-1{
    background-color: #ffbe0b;
}
.cell-2{
    background-color: #003566;
}
.cell-3{
    background-color: #f60404e7;
}
.cell-4{
    background-color: #a7c957;
}
.cell-5{
    background-color: #e68105;
}

/* const colors = [
  "#e63946",
  "#ffbe0b",
  "#a7c957",
  "#003566",
  "#ff8fab",
  "#212529",
]; */


.animate-left{
    animation-duration: 1s;
    animation-name: shiftLeft;
}
.animate-right{
    animation-duration: 1s;
    animation-name: shiftRight;
}

@keyframes shiftLeft {
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes shiftRight {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
}