.cell {
    width: 30px;
    height: 30px;
    outline: 2px solid black;
}

.row{
    display: flex;
}

/* export enum Colors {
    LEPTEUH = 0,
    YELLOW = 1,
    BLUE = 2,
    RED = 3,
    GREEN = 4,
    ORANGE  = 5,
} */

.cell-0{
    background-color: #ffff ;
}
.cell-1{
    background-color: #ffbe0b;
}
.cell-2{
    background-color: #003566;
}
.cell-3{
    background-color: #f60404e7;
}
.cell-4{
    background-color: #a7c957;
}
.cell-5{
    background-color: #e68105;
}

/* const colors = [
  "#e63946",
  "#ffbe0b",
  "#a7c957",
  "#003566",
  "#ff8fab",
  "#212529",
]; */
