.wrapper{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    --cell-size: 100px;
    --half-cell: calc(var(--cell-size)/2);
}

.cube{
    transform-style: preserve-3d;
     /* display: grid; */
     position: relative;
}

.side {
    transform-style: preserve-3d;
    width: var(--cell-size);
    height: var(--cell-size);
    border:  1px solid #000;
    /* grid-area: 1/1/1/1; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.cell__wrapper{
    /* grid-area: 1/1/1/1; */
    width: var(--cell-size);
    height: var(--cell-size);
    transform-origin: center center calc(-1 * var(--half-cell));
    transform-style: preserve-3d;
    transition: all 500ms ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
}

.cell{
    /* display: grid; */
    position: relative;
    transform-style: preserve-3d;
    transition: all 500ms ease-in-out;
    width: var(--cell-size);
    height: var(--cell-size);
    /* grid-area: 1/1/1/1; */
}



.left{
    transform: rotateY(90deg) translate3d(var(--half-cell) ,0px, calc(-1 * var(--half-cell)));
}
.right{
    transform: rotateY(90deg) translate3d(var(--half-cell) ,0px, var(--half-cell));
}
.bottom{
    transform: rotateX(90deg) translate3d(0px ,calc(-1 * var(--half-cell)), calc(-1 * var(--half-cell)));
}
.top{
    transform: rotateX(90deg) translate3d(0px ,calc(-1 * var(--half-cell)), var(--half-cell));
}
.front{
    transform: translate3d(0,0,0);
}
.back{
    transform: translate3d(0,0, calc(-1 * var(--cell-size)))
}

